@model Employee

@{
    ViewBag.Title = "Update Employee";
}

<h2>Update Employee</h2>

<form asp-action="update" method="Post">
   
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Department"></label>
        <input asp-for="Department" />
    </div>

    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" />
    </div>

    <div>
        <input type="submit" value="Update Employee" />
    </div>
</form>
